<!-- <p>home works!</p> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .card.card-body {
            padding: 0px;
        }
    </style>
</head>

<body>
  <div class="row col-md-12 offset-2 mt-5">
        <div class="col-md-2  card card-body">
            <h4 class="col-xs-6">
                <a href="">
                    <i class="fa fa-handshake-o fa-5x mt-3" style="color:#263248; margin-left: 80px;">
                    </i> </a>
            </h4>
            <h5 style="text-align: center; font-family: 'Bebas Neue', cursive;font-weight:bold;" class="mt-2 mr-3">Clients</h5>
        </div>
        <div class="col-md-2 ml-4  card card-body">
            <h4 class="col-xs-6">
                <a href="./Technology_Billable.html"> <i class="fa fa-user-circle fa-5x mt-3" style="color: #62B58F; margin-left: 95px;"></i> </a>
            </h4>
            <h5 style="text-align: center; font-family: 'Bebas Neue', cursive;font-weight:bold;" class="mt-2 mr-3">Billable</h5>
        </div>
        <div class="col-md-2 ml-4  card card-body">
            <h4 class="col-xs-6">
                <a href="./nonbillable.html"> <i class="fa fa-user-circle-o fa-5x mt-3" style="color:rgb(226, 124, 87); margin-left: 95px;"></i> </a>
            </h4>
            <h5 style="text-align: center; font-family: 'Bebas Neue', cursive;font-weight:bold;" class="mt-2 mr-3">Non Billable</h5>
        </div>
        <div class="col-md-2 ml-4 card card-body">
            <h4 class="col-md-6">
                <a href="./Revenue.html"> <i class="fa fa-inr fa-5x mt-3" style="color: #263248; margin-left: 100px;"></i> </a>
            </h4>
            <h5 style="text-align: center; font-family: 'Bebas Neue', cursive;font-weight:bold;" class="mr-4 mt-1">Revenue</h5>
        </div>
    </div>
    <div class="col-md-6 mt-5 " id="chart-container">

        <script src="./TargetandRevenue.js"></script>
    </div>

</body>

</html>